
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    height: 2000px;
    /* background-color: aqua; */
    
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#742dd2 ;
    font-family: 'Ubuntu', sans-serif;
   
}

.logo{
    background-color: white;
    letter-spacing: 3px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    transition: all 0.3s ease 0s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.nav-links a:hover {
    color: #c6cbef;
}

.nav-links li {
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }

}

@media screen and (max-width:1200px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#752dd277 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        

    }
    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
    }
    

}

.nav-active{
    transform: translateX(0%);
    overflow-x: hidden;
}

@keyframes navLinkFade{
    from{
            opacity: 0;
            transform: translateX(50px);
    }
    to{
            opacity: 1;
            transform: translateX(0px);
    }
}

.toggle .line1{
    
    transform: rotate(-45deg) translate(-5px,5px);

}

.toggle .line2{
    opacity: 0;
    
}

.toggle .line3{

    transform: rotate(45deg) translate(-5px,-5px);
    
}


#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #742dd2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    /* box-shadow: 0 0 10px gray; */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16);
}
  
  #myBtn:hover{
      background-color: #752dd277;
     

  }

  img{
    max-width: 100%;
    height: auto;

  }